
:root {
    --background-color: #ffffff;
    --default-color: #314862;
    --heading-color: #13447f;
    --accent-color: #065cc2;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
    --light-gray: #f7f5f5;
    --card-bg: #f0f4fa;
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    --heading-font: "Quicksand", sans-serif;
    --nav-font: "Open Sans", sans-serif;
}
.duration{
    background-color: rgb(223, 235, 254);
    padding: 5px;
    border-radius: 5px;
    color:var(--accent-color) ;
    font-weight: 650;
}
.durationDroit{
    background-color: var(--accent-color);
    padding: 5px;
    border-radius: 5px;
    color:var(--card-bg) ;
    font-weight: 650;
}

.contact{
    background-color: #eff2f4;
    padding: 10px;
}
.service-item a{
    color: var(--accent-color);
    font-weight: 600;
    text-decoration: none;
}
.nav-portfolio{
    text-align: center;
    gap: 10px;
    margin-bottom: 40px;
}
.nav-portfolio a{
    color: rgb(36, 35, 35);
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    
}
.nav-portfolio a:hover{
    background-color: rgb(221, 233, 238);
    color: var(--accent-color);
    border-radius: 20px;
    padding: 15px;
}
.images-portfolio img{
    width: 340px;
    border-radius: 20px;
    margin: 1rem;
}
.images-portfolio{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;

    text-align: center;
}




.FrequentlyAskedQuestions{
    margin: 100px;
}
.contenus-section-questions{
    margin-bottom: 20px;
    background-color: rgb(238, 243, 245);
    padding: 15px;
    border-radius: 10px;
}

.container-contact{
    display: flex;
    margin: 120px;
}
.conctact-gauche{
    flex: 1px;
    background-color: var(--accent-color);
    margin-right: 40px;
    padding: 40px;
    color: var(--contrast-color);
    border-radius: 20px;
    font-size: 20px;
}

.conctact-gauche p{
    color: #d2d9da;
    font-size: 15px;
}
.conctact-gauche h3{
    color: rgb(255, 255, 255);
}
.conctact-gauche h4 {
    color: rgb(255, 255, 255);
}


.info-contact-section{
    display: flex;
    
}
.icon-contact-description{
    padding: 5px;
    border-radius: 50%;
    filter: brightness(0) invert(100%);
    font-size: 20px;
    
}
.container-input{
    display: block;
}
.input-bottom{
    display: block;
    text-align: center;
}
.inputs-bottom{
    display: block;
}
.input-bottom input{
    display: block;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 690px;
    outline: none;
    border: 1px solid rgb(194, 194, 198);
}
.input-bottom input::placeholder{
    font-size: 15px;
    padding: 15px;
}
.input-bottom textarea{
    width: 680px;
    height: 180px;
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 198);
    outline: none;
}
.input-bottom textarea{
    font-size: 15px;
    padding: 15px;
}
.input-top input:nth-child(1){
  font-size: 25px;
  width: 331px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(194, 194, 198);
  margin-bottom: 15px;
  margin-right: 5px;
  justify-content: space-between;
  outline: none;
}
.input-top input:nth-child(2){
  font-size: 25px;
  width: 331px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(194, 194, 198);
  outline: none;
  
  justify-content: space-between;
}
.input-top input::placeholder{
    font-size: 15px;
    padding: 15px;
}
.conctact-droit{
    background-color: var(--surface-color);
    padding: 65px;
    border-radius: 20px;
}
.conctact-droit h3{
    font-size: 35px;
    font-weight: 300;
}
.input-bottom button{
    padding: 15px;
    margin-top: 10px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--surface-color);
    border: none;
    font-size: 20px;
}
footer{
    text-align: center;
    background-color: var(--accent-color);
    padding: 40px;
    color: var(--card-bg);
    
}
.Container-footer{
    opacity: 0.8;
}
.icon-footer{
    filter: brightness(0) invert(100%);
} 
.icon-footer a{
    
    margin: 5px;
    width: 38px;
    height: 38px;
    border: 1px solid var(--contrast-color);
    padding: 8px;
    border-radius: 50%;
}
footer p:nth-child(1){
    margin-bottom: 40px;
}
.container-icon-about-droit{
    display: flex;
    gap: 15px;
}
.icon-about-droit{
    background-color: var(--accent-color);
    width: 45px; 
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}
.icon-about-droit img{
    filter: brightness(0) invert(100%);
    padding: 15px;
    width: 20px; 
    height: auto;
}

.stat-infoAbout{
    display: grid;
   
}

.description-resumeDroit{
    position: relative;
    padding-left: 40px;
    margin-top: 50px;
}
.description-resumeDroit::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #3498db;
    background: linear-gradient(to bottom,
                #1a56db 0%,
                #1a56db 70%,
                transparent 100%
            );
}
.experience-cardsDroit{
    border: 1px solid #e0e0e0;
    position: relative;
    margin-bottom: 30px;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08); */
    border-radius: 10px;
    padding: 15px;
}
.experience-cardsDroit:hover{
    border: 1px solid #e0e0e0;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
}

.experience-cardsDroit::before{
    content: '';
    position: absolute;
    left: -44px; 
    top: 15px;   
    width: 10px;
    height: 10px;
    background-color: #3498db;
    border-radius: 50%; 
    z-index: 1;
}
.description-resume{
    margin-top: 50px;
}

.service-itemTestimonials{
    margin: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: rgb(248, 249, 251);
    border-radius: 10px;
    padding: 40px;
    position: relative;
    
}

.service-itemTestimonialsL{
    grid-column: 2; 
    margin: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: rgb(248, 249, 251);
    border-radius: 10px;
    padding: 40px;
    position: relative;
    
}
.service-itemTestimonialsL p{
    text-align: center;
}



.quote{
    position: absolute;
    font-size: 80px;
    top: -35px;
    color: #97c4fc;
}
#border-stars-testimonials{
    border-top: 3px solid var(--accent-color);
    
}


#border-stars-testimonialsL h3{
   text-align: center;
   font-size: 60px;
    
}


.service-itemTestimonials .icon{
    filter: invert(56%) sepia(91%) saturate(2758%) hue-rotate(3deg) brightness(103%) contrast(106%);
    
}

.service-itemTestimonialsL .icon{
    filter: invert(56%) sepia(91%) saturate(2758%) hue-rotate(3deg) brightness(103%) contrast(106%);
    text-align: center;
}

.numberAbout{
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 900;
}

.skill-cardAbout img{
    
    filter: invert(36%) sepia(87%) saturate(2224%) hue-rotate(202deg) brightness(96%) contrast(93%);
    width: 40px;
    padding: 10px;
}
.SectionIcons{
    background-color: #d5eafa;
    width: 60px;
    border-radius: 20px;
}

.role-info h2{
    font-size: 20px;
}